In [2]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("laptop_data.csv")

In [ ]:
df.head()

In [ ]:
df.info()

In [ ]:
df.shape

In [ ]:
df.duplicated().sum()

In [ ]:
df.isnull().sum()

In [ ]:
df.drop(columns=['Unnamed: 0'], inplace=True)

In [ ]:
df['Ram'] = df['Ram'].str.replace('GB', '')
df['Weight'] = df['Weight'].str.replace('kg', '')

In [ ]:
df.head()

In [ ]:
df['Ram'] = df['Ram'].astype('int32')
df['Weight'] = df['Weight'].astype('float32')

In [ ]:
df.info()

In [ ]:
import seaborn as sns

In [ ]:
sns.distplot(df['Price'])

In [ ]:
df['Company'].value_counts().plot(kind='bar')

In [ ]:
import matplotlib.pyplot as plt
sns.barplot(x=df['Company'], y=df['Price'])
plt.xticks(rotation='vertical')
plt.show()

In [ ]:
df.head()

In [ ]:
df['ScreenResolution'].value_counts()

In [ ]:
df['Touchscreen'] = df['ScreenResolution'].apply(lambda x: 1 if 'Touchscreen' in x else 0)

In [ ]:
df['IPS'] = df['ScreenResolution'].apply(lambda x: 1 if 'IPS' in x else 0)

In [ ]:
df.sample(5)

In [ ]:
df['res'] = df['ScreenResolution'].str.split()

In [9]:
df=pd.read_excel('data.xlsx',engine='openpyxl', header = 1)

In [10]:
df

,Programme Name,Programme Code,Number of seats sanctioned,Number of Students admitted
0,Master of Social Work,MSW,50,50
1,Master of Business Administration,MBA,120,119
2,Master of Human Resource Management( formerly ...,MHRM,40,40
3,Master of Computer Applications,MCA,60,60
4,Master of Science in Computer Science (Data An...,MSC CS(DA),30,30
5,Master of Library and Information Science,MLiblSc,30,23
6,Master of Science in Psychology,MSC(PSY),20,20
7,Bachelor in Social Work,BSW,30,30
8,B.Com Model-I Computer Application,BComM1CA,40,40
9,B.Com Model-II Finance and Taxation,BComM2FT,80,80
10,B.Com Model -I Finance and Taxation,BComM1FT,80,80
11,Bachelor of Business Administration,BBA,40,40
12,Bachelor of Science in Psychology,BSC(PSY),30,30
13,Postgraduate Diploma In Clinical Social Work A...,PGDCSW,35,32
14,Total,NaN,685,674